<section class="about-section">
    <div class="container">

        <ul class="advantages__list list">
            <li class="advantages__item"> <svg class="advantages__icon" width="33" height="50">
                    <use href="./images/icons.svg#milk-icon"></use>
                </svg>
                <span class="advantages__title">721</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item"> <svg class="advantages__icon" width="50" height="50">
                    <use href="./images/icons.svg#shake-icon"></use>
                </svg>
                <span class="advantages__title">16kg</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item"> <svg class="advantages__icon" width="44" height="50">
                    <use href="./images/icons.svg#icon-heart"></use>
                </svg>
                <span class="advantages__title">84</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>

    </div>
</section>