<section>
    <div class="container">

        <ul class="slider list">

            <li class="slider__item">
                <img class="slider__img" src="./images/testimonials1 1.png" alt="" width="85">
                <div class="slider__wrap">
                    <div class="slider__inner">

                        <p class="slider__meta">Nullam viverra consectetuer. Quisque cursus et, porttitor
                            risus.
                            Aliquam
                            sem. In hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <p class="slider__label">Emily, Los Angeles</p>

            </li>
            <li class="slider__item">
                <img class="slider__img" src="./images/testimonials1 3.png" alt="" width="85">

                <div class="slider__wrap">
                    <div class="slider__inner">
                        <p class="slider__meta">Nullam viverra consectetuer. Quisque cursus et, porttitor
                            risus.
                            Aliquam
                            sem. In hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <p class="slider__label">Frederica, Florencia</p>

            </li>

            <li class="slider__item">
                <img class="slider__img" src="./images/testimonials1 4.png" alt="" width="85">

                <div class="slider__wrap">
                    <div class="slider__inner">

                        <p class="slider__meta">Nullam viverra consectetuer. Quisque cursus et, porttitor
                            risus.
                            Aliquam
                            sem. In hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <p class="slider__label">Natali, Bali</p>

            </li>
        </ul>

    </div>
    </div>
</section>